* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4ece2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 500px;
    background: #fffdfa;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #4a3623;
}

.form-box {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-box input {
    padding: 12px;
    border: 1px solid #d2b48c;
    border-radius: 6px;
    font-size: 16px;
    background-color: #fdfaf5;
    color: #3b2818;
}

.form-box input:focus {
    outline: none;
    border-color: #8b5a2b;
}

.form-box button {
    padding: 12px;
    background: #6f4e37;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.form-box button:hover {
    background: #503827;
}

#studentList {
    margin-top: 20px;
}

.student-card {
    background: #fdfaf5;
    border-left: 5px solid #8b5a2b;
    padding: 15px;
    margin-bottom: 12px;
    border-radius: 6px;
}

.student-card h3 {
    color: #4a3623;
    margin-bottom: 5px;
}

.student-card p {
    color: #6b4c3a;
    margin: 3px 0;
}

.student-card button {
    margin-top: 10px;
    margin-right: 8px;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-btn {
    background: #a98160;
    color: white;
}

.edit-btn:hover {
    background: #8e684a;
}

.delete-btn {
    background: #8b3a3a;
    color: white;
}

.delete-btn:hover {
    background: #6b2c2c;
}